

.animate-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.check-element {
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;

    position:relative;
    left:5px;
}
.repeat-animation.ng-enter {
    opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.repeat-animation.ng-leave {
    opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
    opacity: 0;
}
.repeat-animation.ng-move {
    left:2px;
    opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
    left:0;
    opacity: 1;
}